.header {
  padding: 1rem 0;
  font-size: 1.25rem;

  &__title {
    font-weight: bold;
    // align-self: center;
  }
  .col-auto{
    align-self: center;
  }
  &__link {
    color:green;
    transition: all 0.25s ease-in-out 0s;
    // &:hover {
    //   text-decoration: none;
    //   color: var(--primary);
    // }
  }
  &__link:hover {
    text-decoration: none;
    color: var(--primary);
  }
}
